/* Iris.css */
body {
    font-family: Arial, sans-serif;
    background-color:#1d0125;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    margin-left: 20px;
}

h1 {
    color: #4CAF50;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    padding: 8px;
    margin-top: 5px;
}

button {
    padding: 10px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
    font-size: 15px;
    color: #262726;
}

.image-container{
    display:flex;
    justify-content: center;
    margin-top: 20px;
    margin-right: 20px;
    flex-direction: column;
    align-items: center; /* Centers images horizontally */
    gap: 10px; /* Adds spacing between images */
    border-radius: 30px;
}